
extends ../layout/main
block variable
  -
    var title_page = 'Хід будівництва'
    var id_page = 'id-page-build-progress'
    var class_page = 'class-page-build-progress'
    var breadcrumbsSubitem = [
    ]
    var years = [
      ['null', 'Рік'],
      [2020, '2020'],
      [2021, '2021'],
      [2022, '2022'],
      [2023, '2023'],
    ];
    var monthtes = [
      ['Місяць','null'],
      ['Січень','01'],
      ['Лютий','02'],
      ['Березень','03'],
      ['Квітень','04'],
      ['Травень','05'],
      ['Червень','06'],
      ['Липень','07'],
      ['Серпень','08'],
      ['Вересень','09'],
      ['Жовтень','10'],
      ['Листопад','11'],
      ['Грудень','12'],
      ];
    var flatBlocksData = [
      ['build-card-01.jpg','Червень','20','55.5', '20000', '02.06.2021', 'true'],
      ['build-card-02.jpg','Червень','30','46.7', '30000', '03.07.2022', 'false'],
      ['build-card-03.jpg','Червень','40','127.5', '40000', '04.08.2020', 'true'],
      ['build-card-04.jpg','Червень','50','202.4', '50000', '05.09.2023', 'false'],
      ['build-card-05.jpg','Червень','60','99.4', '60000', '06.10.2021', 'true'],
    ];
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/build-progress.js')
block content
  .container
    include ../includes/breadcrumbs.pug
    h1.page-title Хід будівництва
    .progress-head
      .progress-checkbox-wrapper
        .text-grey Контент з відео
        <input class="apple-switch" data-name="with_video" data-video-chechbox type="checkbox">
      .custom-select-wrapper(data-name="year")
        .custom-select
          .custom-select__trigger
            span #{years[0][1]}
            .arrow
          .custom-options
            each val, index in years
              if index === 0
                span.custom-option.selected(data-value=val[0]) #{val[1]}
              else
                span.custom-option(data-value=val[0]) #{val[1]}
      .custom-select-wrapper(data-name="month")
        .custom-select
          .custom-select__trigger
            span #{monthtes[0][0]}
            .arrow
          .custom-options
            each val, index in monthtes
              if index === 0
                span.custom-option.selected(data-value=val[1]) #{val[0]}
              else
                span.custom-option(data-value=val[1]) #{val[0]}
      a(href="#" data-web-camera-popup).underlined-link-wrap
        .underlined-link Веб-камера
        +svg('camera')
    .build-cards-wrap(data-no-cards-selector="no-cards" data-no-cards-title="За вашими параметрами нічого не знайдено")
      each val in flatBlocksData
        a(href="single-build-progress.html" data-with_video=val[6] data-month=val[5].split('.')[1] data-year=val[5].split('.')[2]).build-progress-card
          .build-progress-card__outer 
            .build-progress-card__subtitle #{val[5]}
            .build-progress-card__title #{val[1]}
            .build-progress-card__data
              .build-progress-card__link 
                span Переглянути звіт
                +svg('build-arrow')
          .build-progress-card__inner(data-background-lazy data-src="./assets/images/build-progress/"+val[0] style="")
    .web-camera-popup-wrapper(data-web-cam-popup)
      .web-camera-popup
        <svg data-popup-close="" class="web-camera-popup__close" width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0H45V45C20.1472 45 0 24.8528 0 0Z" fill="#EFC47F"></path>
          <path d="M21 24L31 14M31 24L21 14" stroke="white"></path>
          </svg>
        <iframe class="iv-i" src="https://open.ivideon.com/embed/v2/?server=100-HQrunT5KaVo0qMcpKTK3h2&amp;camera=196608&amp;width=&amp;height=&amp;lang=ru" width="100" allowfullscreen="allowfullscreen"></iframe>
      
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
