
extends ../layout/main
block variable
  -
    var title_page = 'Обрати квартиру'
    var id_page = 'id-page-choose-section-and-filter'
    var class_page = 'class-page-choose-section-and-filter'
    var breadcrumbsSubitem = [
    ];
    var rooms = [
      1,2,3,4,5,
    ];
    var testInfo = [
      {
        name:'Загальна площа:',
        val:'48,05 м2'
      },
      {
        name:'Житлова площа:',
        val:'19,25 м2'
      },
      {
        name:'Ціна від:',
        val:'66 453 грн/ м2'
      },
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/choose-section-and-filter.js')
block content
  .choose-flat-content-wrapper
    .choose-flat-content-wrapper__filter(data-filter-nav)
      include ../includes/breadcrumbs.pug
      .filter-title Підбір по параметрам
      .filter-mini-group
        .filter-subtitle Секція:
        <input data-type="range" data-filter-item class="js-range-init" id="section" type="hidden" data-from="0" data-min="0" data-to="100" data-max="100">
      .filter-mini-group
        .filter-subtitle Загальна пл. м²:
        <input data-type="range" data-filter-item class="js-range-init" id="all_room" type="hidden" data-from="0" data-min="0" data-to="100" data-max="100">
      .filter-mini-group
        .filter-subtitle Житлова пл. м²:
        <input data-type="range" data-filter-item class="js-range-init" id="live_room" type="hidden" data-from="0" data-min="0" data-to="100" data-max="100">
      .filter-mini-group
        .filter-subtitle Кімнати:
        each val in rooms
          .checkbox-quares
            input( data-filter-item data-type="checkbox" data-value=val data-name="rooms" id="room"+val type="checkbox", name="")
            label(for="room"+val) #{val}
      .filter-mini-group
        .filter-subtitle План поверху:
        .checkbox-with-span
          input#all( data-filter-item data-type="radio" data-name="floors" data-value="1" type="radio" checked name="floors")
          label(for="all") Усі
        .checkbox-with-span
          input#typical( data-filter-item data-type="radio" data-name="floors" data-value="2" type="radio" name="floors")
          label(for="typical") Типовий
        .checkbox-with-span
          input#double-level( data-filter-item data-type="radio" data-name="floors" data-value="3" type="radio" name="floors")
          label(for="double-level") Дворівневий
      +btn('Показати результати', 'gold')(data-filter-button data-switch-screen="filterWrapper" data-count-results="  (115)")
      .mobile-hide-button(data-mobile-hide-filter) 
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve">
          <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
          </svg>

    .choose-flat-content-wrapper__content
      .filter-wrapper(data-filter-wrapper)
        .filter-wrapper__nav
          .filter-wrapper__nav-item(data-switch-screen="planWrapper")
            span Згорнути
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 11L11 1M11 11L1 1" stroke="#383E41"/>
              </svg>
          .filter-wrapper__nav-item(data-switch-filter-screen="cardsContainer")
            span Плитка
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip-plitka)">
              <path d="M4.23077 0H0.384623C0.172198 0 0 0.172198 0 0.384623V4.23079C0 4.44321 0.172198 4.61541 0.384623 4.61541H4.23079C4.44321 4.61541 4.61541 4.44321 4.61541 4.23079V0.384623C4.61539 0.172198 4.44319 0 4.23077 0ZM3.84616 3.84616H0.769224V0.769224H3.84614V3.84616H3.84616Z" fill="#6E7A81"/>
              <path d="M9.61556 0H5.76939C5.55696 0 5.38477 0.172198 5.38477 0.384623V4.23079C5.38477 4.44321 5.55696 4.61541 5.76939 4.61541H9.61556C9.82798 4.61541 10.0002 4.44321 10.0002 4.23079V0.384623C10.0002 0.172198 9.82796 0 9.61556 0ZM9.23093 3.84616H6.15401V0.769224H9.23093V3.84616Z" fill="#6E7A81"/>
              <path d="M4.23077 5.38477H0.384623C0.172198 5.38477 0 5.55696 0 5.76939V9.61555C0 9.82797 0.172198 10.0002 0.384623 10.0002H4.23079C4.44321 10.0002 4.61541 9.82797 4.61541 9.61555V5.76939C4.61539 5.55696 4.44319 5.38477 4.23077 5.38477ZM3.84616 9.23093H0.769224V6.15401H3.84614V9.23093H3.84616Z" fill="#6E7A81"/>
              <path d="M9.61556 5.38477H5.76939C5.55696 5.38477 5.38477 5.55696 5.38477 5.76939V9.61555C5.38477 9.82797 5.55696 10.0002 5.76939 10.0002H9.61556C9.82798 10.0002 10.0002 9.82797 10.0002 9.61555V5.76939C10.0002 5.55696 9.82796 5.38477 9.61556 5.38477ZM9.23093 9.23093H6.15401V6.15401H9.23093V9.23093Z" fill="#6E7A81"/>
              </g>
              <defs>
              <clipPath id="clip-plitka">
              <rect width="10" height="10" fill="white"/>
              </clipPath>
              </defs>
              </svg>
          .filter-wrapper__nav-item(data-switch-filter-screen="tablesContainer")
            span Список
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.60914 4.60938H2.81738C2.60164 4.60938 2.42676 4.78426 2.42676 5C2.42676 5.21574 2.60164 5.39062 2.81738 5.39062H9.60914C9.82488 5.39062 9.99976 5.21574 9.99976 5C9.99976 4.78426 9.82488 4.60938 9.60914 4.60938Z" fill="#383E41"/>
              <path d="M9.60914 1.67969H2.81738C2.60164 1.67969 2.42676 1.85457 2.42676 2.07031C2.42676 2.28605 2.60164 2.46094 2.81738 2.46094H9.60914C9.82488 2.46094 9.99976 2.28605 9.99976 2.07031C9.99976 1.85457 9.82488 1.67969 9.60914 1.67969Z" fill="#383E41"/>
              <path d="M9.60914 7.53906H2.81738C2.60164 7.53906 2.42676 7.71395 2.42676 7.92969C2.42676 8.14543 2.60164 8.32031 2.81738 8.32031H9.60914C9.82488 8.32031 9.99976 8.14543 9.99976 7.92969C9.99976 7.71395 9.82488 7.53906 9.60914 7.53906Z" fill="#383E41"/>
              <path d="M0.527344 2.59766C0.818588 2.59766 1.05469 2.36156 1.05469 2.07031C1.05469 1.77907 0.818588 1.54297 0.527344 1.54297C0.2361 1.54297 0 1.77907 0 2.07031C0 2.36156 0.2361 2.59766 0.527344 2.59766Z" fill="#383E41"/>
              <path d="M0.527344 5.52734C0.818588 5.52734 1.05469 5.29124 1.05469 5C1.05469 4.70876 0.818588 4.47266 0.527344 4.47266C0.2361 4.47266 0 4.70876 0 5C0 5.29124 0.2361 5.52734 0.527344 5.52734Z" fill="#383E41"/>
              <path d="M0.527344 8.45703C0.818588 8.45703 1.05469 8.22093 1.05469 7.92969C1.05469 7.63844 0.818588 7.40234 0.527344 7.40234C0.2361 7.40234 0 7.63844 0 7.92969C0 8.22093 0.2361 8.45703 0.527344 8.45703Z" fill="#383E41"/>
              </svg>
        table.table-wrapper(data-tables-container data-switch-filter-screen="tablesContainer")
          thead
            tr
              td 
                div План
              td 
                div Кімнати
              td 
                div Секція
              td 
                div Поверх
              td 
                div Загальна пл. м²
              td 
                div Житлова пл. м²
          tbody(data-table-flats-render)
            - var n = 0;
              while n < 10
                tr(data-some=n++)
                  td
                    +img('test-flat.jpg')
                  td 
                    div 3
                  td 
                    div 2
                  td 
                    div 2-7
                  td 
                    div 154
                  td 
                    div 140
        .cards-wrapper(data-cards-container data-card-flats-render)
          - var n = 0;
            while n < 10
              a(href='flat').flat-card
                +img('test-flat.jpg').flat-card__img 
                .flat-card__title Тип 1А
                table.flat-card__info-wrap(data-some=n++)
                    each val in testInfo
                      tr.flat-card__info-wrap-item
                          td #{val.name}
                          td #{val.val}
                .flat-card__link.underlined-link-wrap 
                  .underlined-link переглянути
                  +svg('build-arrow')

      .build-plan-wrapper(data-build-plan-wrapper)
        .build-plan-wrapper__subtitle Вибір по генплану
        .build-plan-wrapper__left
          include ../../assets/images/choose-section-and-filter/genplan.svg
        .build-plan-wrapper__right
          .section-info
            .section-info__title Секція <span data-render="name" ></span>
            table
              tr.section-info-row
                td.section-info-row-subtitle Поверхів:
                td.section-info-row-val(data-render="floors") 
              tr.section-info-row
                td.section-info-row-subtitle Квартир:
                td.section-info-row-val(data-render="flats") 
              tr.section-info-row
                td.section-info-row-subtitle Висота стель:
                td.section-info-row-val(data-render="ceil") 
              tr.section-info-row
                td.section-info-row-subtitle Комерція:
                td.section-info-row-val(data-render="commerce") 
          <svg class="compass" width="139" height="138" viewBox="0 0 139 138" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M96.807 68.9411L95.2986 68.6578C95.121 61.8695 92.3435 55.7178 87.9288 51.1612L89.8729 49.2169C90.0361 49.0539 90.0361 48.7893 89.8729 48.6261C89.7097 48.4631 89.4456 48.4631 89.2823 48.6261L87.3381 50.5702C82.7812 46.1556 76.6297 43.3784 69.8411 43.2007L69.558 41.6923C69.5579 41.6912 69.5572 41.6902 69.5572 41.6892C69.5552 41.6796 69.5517 41.6706 69.5491 41.6611C69.5449 41.6451 69.5405 41.6291 69.5346 41.6139C69.5308 41.6043 69.5258 41.5954 69.5212 41.5862C69.5141 41.5721 69.507 41.5583 69.499 41.5453C69.4932 41.5365 69.4873 41.5285 69.481 41.5202C69.4719 41.5079 69.4622 41.4961 69.4519 41.4851C69.4447 41.4774 69.4374 41.4703 69.4296 41.4632C69.4188 41.4531 69.4072 41.4436 69.3951 41.4346C69.3864 41.4283 69.378 41.4222 69.3689 41.4164C69.3561 41.4084 69.3427 41.4014 69.3292 41.3949C69.3197 41.3903 69.3104 41.3855 69.3007 41.3816C69.2852 41.3755 69.2691 41.3711 69.2528 41.3667C69.244 41.3644 69.2355 41.3613 69.2265 41.3596C69.2007 41.3546 69.1744 41.3516 69.1475 41.3516C69.1206 41.3516 69.094 41.3545 69.0683 41.3596C69.0594 41.3613 69.0509 41.3644 69.0421 41.3667C69.0257 41.3711 69.0096 41.3755 68.994 41.3816C68.9843 41.3855 68.9753 41.3903 68.9658 41.3949C68.952 41.4015 68.9386 41.4085 68.9258 41.4166C68.9169 41.4223 68.9084 41.4283 68.8999 41.4346C68.8878 41.4435 68.8762 41.4529 68.8651 41.4632C68.8574 41.4702 68.8501 41.4774 68.843 41.485C68.8325 41.4962 68.8229 41.5082 68.8137 41.5205C68.8076 41.5287 68.8015 41.5366 68.796 41.5451C68.7875 41.5583 68.7804 41.5724 68.7735 41.5867C68.769 41.5957 68.7643 41.6043 68.7604 41.6138C68.754 41.6296 68.7494 41.6465 68.7449 41.6633C68.7427 41.672 68.7395 41.68 68.7378 41.6887C68.7376 41.6899 68.737 41.691 68.7369 41.6922L68.4536 43.2006C61.6652 43.3783 55.5134 46.1555 50.9568 50.5703L49.0125 48.626C48.8494 48.4628 48.5848 48.4628 48.4218 48.626C48.2586 48.789 48.2586 49.0536 48.4218 49.2167L50.3661 51.1609C45.9513 55.7176 43.174 61.8691 42.9963 68.6576L41.4878 68.9408C41.2904 68.978 41.1472 69.1504 41.1472 69.3514C41.1472 69.5524 41.2904 69.7249 41.4878 69.7621L42.9963 70.0451C43.174 76.8336 45.9513 82.9851 50.3661 87.5416L48.4215 89.4865C48.2583 89.6497 48.2583 89.914 48.4215 90.0772C48.503 90.1587 48.61 90.1995 48.7168 90.1995C48.8236 90.1995 48.9307 90.1587 49.0122 90.0772L50.9565 88.1329C55.5132 92.5475 61.6649 95.3247 68.4534 95.5025L68.7366 97.011C68.7367 97.0124 68.7373 97.0135 68.7376 97.0145C68.7392 97.0232 68.7424 97.0313 68.7447 97.0399C68.7491 97.0568 68.7537 97.0736 68.7601 97.0894C68.7639 97.0987 68.7687 97.1075 68.7732 97.1164C68.7802 97.1307 68.7873 97.1446 68.7958 97.158C68.8013 97.1666 68.8073 97.1744 68.8134 97.1827C68.8226 97.1952 68.8322 97.207 68.8427 97.2183C68.8498 97.2258 68.8572 97.2329 68.8647 97.2399C68.8758 97.2501 68.8874 97.2597 68.8995 97.2686C68.908 97.2748 68.9165 97.281 68.9254 97.2867C68.9382 97.2948 68.9516 97.3016 68.9654 97.3083C68.9747 97.3127 68.9839 97.3174 68.9936 97.3216C69.0092 97.3277 69.0254 97.3322 69.0417 97.3362C69.0504 97.3388 69.0589 97.3415 69.0679 97.3435C69.0936 97.3485 69.1201 97.3516 69.1471 97.3516C69.1741 97.3516 69.2006 97.3486 69.226 97.3435C69.2351 97.3415 69.2437 97.3388 69.2524 97.3362C69.2686 97.3322 69.2847 97.3275 69.3003 97.3216C69.31 97.3177 69.3193 97.3129 69.3288 97.3083C69.3424 97.3016 69.3557 97.2945 69.3685 97.2867C69.3774 97.2811 69.386 97.2748 69.3947 97.2686C69.4068 97.2597 69.4183 97.2501 69.4292 97.24C69.4371 97.2329 69.4442 97.2255 69.4515 97.2182C69.4618 97.207 69.4715 97.1952 69.4806 97.1829C69.4866 97.1746 69.4928 97.1666 69.4985 97.1579C69.5069 97.1446 69.5137 97.131 69.5205 97.1169C69.5251 97.1077 69.5302 97.0987 69.5342 97.0892C69.5403 97.0742 69.5445 97.0579 69.5487 97.042C69.5513 97.0327 69.5548 97.0235 69.5568 97.014C69.5568 97.0129 69.5574 97.0119 69.5576 97.011L69.8407 95.5025C76.6293 95.3251 82.7811 92.5475 87.3375 88.1329L89.2818 90.0771C89.3634 90.1587 89.4704 90.1995 89.5772 90.1995C89.6841 90.1995 89.7909 90.1587 89.8725 90.0771C90.0357 89.914 90.0357 89.6497 89.8725 89.4865L87.9284 87.5422C92.3431 82.9854 95.1203 76.834 95.2982 70.0456L96.8066 69.7626C97.0042 69.7252 97.1472 69.5528 97.1472 69.352C97.1474 69.1509 97.0046 68.9782 96.807 68.9411ZM70.4944 92.0223L73.3079 77.0374L82.6218 83.4068C82.6935 83.4558 82.7755 83.4795 82.8574 83.4795C82.965 83.4795 83.0721 83.438 83.1529 83.3571C83.295 83.2149 83.3158 82.9918 83.2022 82.8261L76.833 73.5122L91.8178 70.699C91.1447 82.1513 81.9471 91.3489 70.4944 92.0223ZM46.4764 70.699L61.4615 73.5122L55.092 82.8261C54.9787 82.9918 54.9993 83.215 55.1414 83.3571C55.2836 83.4991 55.5067 83.52 55.6725 83.4064L64.9864 77.0373L67.7997 92.0221C56.3473 91.3489 47.1498 82.1513 46.4764 70.699ZM67.8 46.6813L64.9866 61.6662L55.6728 55.2969C55.507 55.1836 55.2838 55.2043 55.1417 55.3463C54.9995 55.4885 54.9788 55.7116 55.0923 55.8774L61.4617 65.1911L46.4764 68.0045C47.1498 56.5521 56.3473 47.3547 67.8 46.6813ZM91.8181 68.0045L76.8333 65.1912L83.2024 55.8776C83.3158 55.7117 83.295 55.4885 83.1531 55.3465C83.011 55.2043 82.7876 55.1834 82.6221 55.297L73.3082 61.6662L70.4944 46.6813C81.9471 47.3547 91.1447 56.5521 91.8181 68.0045ZM91.8537 68.934L70.1557 68.934L73.6466 65.443L91.8526 68.861C91.8533 68.8854 91.8533 68.9097 91.8537 68.934ZM73.8652 64.634L73.4764 62.5631L81.2567 57.2426L75.9359 65.0229L73.8652 64.634ZM73.0559 64.8523L69.565 68.3433L69.565 46.6455C69.5892 46.6459 69.6137 46.6459 69.6378 46.6465L73.0559 64.8523ZM68.7295 46.6455L68.7295 68.3433L65.2384 64.8523L68.6567 46.6465C68.6809 46.6459 68.7052 46.6461 68.7295 46.6455ZM62.3585 65.0229L57.0379 57.2426L64.8183 62.5632L64.4295 64.6341L62.3585 65.0229ZM64.6477 65.443L68.1388 68.934L46.4406 68.934C46.441 68.9097 46.441 68.8854 46.4415 68.8611L64.6477 65.443ZM46.4406 69.7694L68.1388 69.7694L64.6477 73.2603L46.4415 69.8423C46.441 69.8182 46.4411 69.7937 46.4406 69.7694ZM64.4294 74.0694L64.8182 76.1404L57.0377 81.461L62.3584 73.6807L64.4294 74.0694ZM65.2384 73.8511L68.7295 70.3601L68.7295 92.0578C68.7053 92.0572 68.6809 92.0575 68.6567 92.0569L65.2384 73.8511ZM69.565 92.0578L69.565 70.3601L73.053 73.848C73.0541 73.8492 73.0552 73.8497 73.0559 73.8508L69.6378 92.0571C69.6137 92.0575 69.5892 92.0573 69.565 92.0578ZM75.9359 73.6807L81.2567 81.461L73.4764 76.1404L73.8652 74.0694L75.9359 73.6807ZM73.6464 73.2603C73.6453 73.2595 73.6446 73.2581 73.6437 73.2574L70.1557 69.7694L91.8537 69.7694C91.8533 69.7937 91.8533 69.8182 91.8526 69.8423L73.6464 73.2603ZM94.4564 68.4998L92.6647 68.1634C92.3716 62.2914 89.9165 56.98 86.0821 53.0081L87.3382 51.7517C91.5674 56.1214 94.2406 62.0045 94.4564 68.4998ZM86.7475 51.1611L85.4911 52.4175C81.5195 48.5829 76.2076 46.1279 70.3356 45.8347L69.9991 44.0432C76.4946 44.2588 82.3777 46.9319 86.7475 51.1611ZM68.2953 44.043L67.9589 45.8345C62.0868 46.1278 56.7751 48.583 52.8033 52.4173L51.5469 51.1611C55.9166 46.9319 61.7998 44.2588 68.2953 44.043ZM50.9562 51.7517L52.2125 53.008C48.3779 56.9797 45.9228 62.2913 45.6296 68.1632L43.838 68.4997C44.0539 62.0045 46.727 56.1214 50.9562 51.7517ZM43.838 70.2036L45.6296 70.5399C45.9228 76.412 48.3781 81.7234 52.2125 85.6953L50.9562 86.9517C46.727 82.5822 44.0539 76.6991 43.838 70.2036ZM51.5469 87.5425L52.8033 86.2862C56.7751 90.1205 62.0868 92.5757 67.9589 92.8689L68.2953 94.6604C61.7998 94.4446 55.9166 91.7715 51.5469 87.5425ZM69.999 94.6604L70.3354 92.8689C76.2075 92.5757 81.5189 90.1205 85.491 86.2862L86.7473 87.5425C82.3777 91.7715 76.4945 94.4446 69.999 94.6604ZM87.3382 86.9517L86.0821 85.6953C89.9165 81.7236 92.3716 76.412 92.6647 70.5399L94.4564 70.2036C94.2406 76.6991 91.5674 82.5822 87.3382 86.9517Z" fill="black"/>
            <path d="M33.3035 35.7316L38.3381 40.7662L37.6734 41.4308L33.2186 36.9761L30.5599 39.6348L35.0147 44.0896L34.35 44.7542L29.3154 39.7196L33.3035 35.7316ZM38.4065 30.6285L43.4411 35.6631L42.7764 36.3278L40.4218 33.9731L37.7631 36.6319L40.1177 38.9865L39.453 39.6512L34.4184 34.6166L35.0831 33.9519L37.1832 36.052L39.8419 33.3933L37.7418 31.2932L38.4065 30.6285Z" fill="black"/>
            <path d="M102.475 36.4657C103.054 37.1587 103.33 37.8776 103.302 38.6224C103.274 39.3578 102.946 40.039 102.319 40.6659C101.603 41.3825 100.799 41.7148 99.9079 41.663C99.0122 41.6064 98.1613 41.175 97.3552 40.3689C96.601 39.6147 96.1838 38.778 96.1036 37.8587C96.0235 36.93 96.3558 36.0933 97.1007 35.3485C97.6333 34.8158 98.2462 34.4905 98.9391 34.3727C99.6321 34.2548 100.257 34.4269 100.813 34.8889L100.148 35.5535C99.7429 35.299 99.321 35.2071 98.8826 35.2778C98.4394 35.3438 98.0317 35.563 97.6593 35.9354C97.0983 36.4964 96.872 37.1186 96.9804 37.8021C97.0936 38.481 97.4401 39.1103 98.0199 39.6901C98.661 40.3312 99.3163 40.6848 99.9857 40.7508C100.655 40.8168 101.251 40.5881 101.775 40.0649C102.204 39.6359 102.423 39.1716 102.432 38.6719C102.437 38.1675 102.23 37.6537 101.81 37.1304L102.475 36.4657Z" fill="black"/>
            <path d="M96.9414 99.37L101.976 104.405L101.311 105.069L96.8566 100.614L94.1978 103.273L98.6526 107.728L97.9879 108.393L92.9533 103.358L96.9414 99.37ZM108.776 100.108L108.133 100.751L106.881 99.4995L103.239 103.141L104.491 104.393L103.848 105.036L102.016 103.205L102.511 102.71C102.36 102.172 102.026 101.522 101.507 100.758C100.984 99.9898 100.378 99.2615 99.6898 98.5732L98.714 97.5974L101.931 94.3801L106.386 98.8349L106.945 98.2762L108.776 100.108ZM105.721 99.4995L101.846 95.6246L99.9444 97.5267L100.63 98.2126C101.238 98.8207 101.785 99.4807 102.271 100.192C102.756 100.895 103.082 101.489 103.247 101.974L105.721 99.4995Z" fill="black"/>
            <path d="M41.2344 98.5669C41.3994 98.7319 41.5337 98.9417 41.6374 99.1963C41.7364 99.4461 41.7954 99.7266 41.8142 100.038C41.8331 100.349 41.7624 100.688 41.6021 101.056C41.4418 101.424 41.1943 101.775 40.8596 102.11C40.2279 102.741 39.5727 103.1 38.8939 103.184C38.2151 103.26 37.5834 103.005 36.9988 102.421L37.6423 101.777C38.0854 102.192 38.5427 102.362 39.0141 102.286C39.4808 102.206 39.9333 101.947 40.3717 101.509C40.7253 101.155 40.9233 100.764 40.9657 100.335C41.0081 99.9057 40.8714 99.5333 40.5556 99.2175C40.3812 99.0431 40.1997 98.9276 40.0111 98.871C39.8225 98.8144 39.634 98.8191 39.4454 98.8851C39.2569 98.9511 39.0801 99.0431 38.9151 99.1609C38.7548 99.2741 38.5827 99.4225 38.3989 99.6064C38.2386 99.7667 38.0925 99.9222 37.9605 100.073L37.4089 99.5215C37.4938 99.4555 37.6494 99.3094 37.8756 99.0831C38.6063 98.3525 38.67 97.6854 38.0666 97.082C37.5292 96.5446 36.8998 96.6365 36.1786 97.3578C35.4149 98.1215 35.3395 98.8804 35.9523 99.6347L35.3088 100.278C34.8092 99.7407 34.6017 99.1656 34.6866 98.5528C34.7667 97.9353 35.0873 97.346 35.6483 96.785C36.1621 96.2712 36.6901 95.9695 37.2322 95.8799C37.779 95.7857 38.2787 95.9648 38.7312 96.4173C38.9858 96.6719 39.1343 96.9854 39.1767 97.3578C39.2144 97.7255 39.1531 98.0555 38.9929 98.3477L39.0141 98.369C39.3959 98.1097 39.7872 98.006 40.1879 98.0578C40.5933 98.105 40.9421 98.2747 41.2344 98.5669Z" fill="black"/>
            </svg>
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
