
extends ../layout/main
block variable
  -
    var title_page = 'Квартира К1-1'
    var id_page = 'id-page-flat'
    var class_page = 'class-page-flat'
    var breadcrumbsSubitem = [
      {
        label: 'Обрати квартиру',
        link: 'choose-section-and-filter'
      },
      {
        label: 'План поверху',
        link: 'choose-flat'
      }
    ];
    var flatOveral = [
        { title: 'Загальна площа:',
          value: ' 48,43 м2',},
        { title: 'Житлова площа:',
          value: ' 19,24 м2',},
        { title: 'Ціна за м2:',
          value: '55 245 грн',},
    ]
    var flatPremises = [
          {title: 'Передпокій:',
          value: ' 6,36 м2',},
          {title: 'Спальня',
          value: ' 19,24 м2',},
          {title: 'С/В:',
          value: ' 3,97 м2',},
          {title: 'Кухня:',
          value: ' 13,74 м2',},
          {title: 'Гардероб:',
          value: ' 3,40 м2',},
          {title: 'Балкон:',
          value: ' 1,72 м2',},
    ];
    var testInfo = [
      {
        name:'Загальна площа:',
        val:'48,05 м2'
      },
      {
        name:'Житлова площа:',
        val:'19,25 м2'
      },
      {
        name:'Ціна від:',
        val:'66 453 грн/ м2'
      },
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/flat.js')
block content
  .container 
    include ../includes/breadcrumbs.pug
    .flat-wrapper
      .flat-info
        ul.overal-info
          each val in flatOveral
            li
              span #{val.title}
              span #{val.value}
        ul.flat-premises
          each val,index in flatPremises
            li 
              span #{index+1}. #{val.title}
              span #{val.value}
      .flat-plan-block
        .flat-wrapper-subtitle Квартира К1-1
        +img('test-flat.jpg')
        +btn('Записатися на перегляд','grey')(data-call-popup-form="data-call-popup-form")
        a(href="pdf").underlined-link-wrap 
          .underlined-link Завантажити PDF
          +svg('download')
      <svg class="compass" width="77" height="81" viewBox="0 0 77 81" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M54.0317 56.0159L53.322 54.9782C57.151 50.9436 59.1053 45.7718 59.1875 40.5756L61.4397 40.5755C61.6286 40.5756 61.7819 40.4224 61.7819 40.2333C61.7818 40.0444 61.6288 39.8914 61.4397 39.8912L59.1876 39.8912C59.1052 34.6949 57.1508 29.5234 53.3218 25.4886L54.0315 24.4509C54.0321 24.4502 54.0323 24.4492 54.0328 24.4486C54.0373 24.442 54.0405 24.4347 54.0444 24.4277C54.0513 24.416 54.058 24.4041 54.0634 24.3919C54.0668 24.3842 54.069 24.3761 54.0717 24.3682C54.0757 24.3559 54.0796 24.3438 54.0825 24.3315C54.0843 24.3232 54.0854 24.3151 54.0866 24.3066C54.0885 24.2943 54.0897 24.2818 54.0901 24.2694C54.0903 24.2608 54.0903 24.2525 54.0899 24.2439C54.0894 24.2317 54.0882 24.2195 54.0865 24.2073C54.0851 24.1986 54.0837 24.1902 54.0818 24.1816C54.079 24.1695 54.0753 24.1577 54.0713 24.1461C54.0685 24.138 54.0658 24.1298 54.0624 24.1219C54.057 24.1094 54.0502 24.0975 54.0433 24.0856C54.0396 24.0791 54.0365 24.0724 54.0322 24.0662C54.0202 24.0484 54.0067 24.0314 53.9911 24.0158C53.9756 24.0002 53.9585 23.9865 53.9406 23.9746C53.9344 23.9704 53.9277 23.9672 53.9213 23.9635C53.9093 23.9565 53.8974 23.9498 53.8848 23.9443C53.8769 23.9409 53.8689 23.9384 53.8608 23.9356C53.8489 23.9315 53.8372 23.9278 53.8251 23.9251C53.8166 23.9232 53.8082 23.9217 53.7997 23.9205C53.7875 23.9186 53.7753 23.9174 53.7629 23.9169C53.7544 23.9165 53.746 23.9164 53.7375 23.9167C53.7249 23.9172 53.7124 23.9185 53.7 23.9203C53.6917 23.9215 53.6835 23.9226 53.6755 23.9243C53.6629 23.9271 53.6506 23.9311 53.6383 23.9354C53.6305 23.938 53.6228 23.9402 53.6151 23.9434C53.6022 23.9489 53.5897 23.956 53.5774 23.9632C53.5711 23.9669 53.5646 23.9697 53.5586 23.9738C53.5577 23.9743 53.5567 23.9747 53.556 23.9752L52.5183 24.6849C48.4835 20.8559 43.3118 18.9014 38.1157 18.8192L38.1156 16.567C38.1157 16.378 37.9625 16.2248 37.7735 16.2248C37.5846 16.2247 37.4313 16.378 37.4314 16.5669L37.4314 18.8192C32.2352 18.9013 27.0636 20.8557 23.0288 24.6846L21.9911 23.975C21.8552 23.8822 21.6724 23.8991 21.556 24.0155C21.4396 24.1319 21.4226 24.3148 21.5154 24.4507L22.2252 25.4883C18.3962 29.5231 16.4419 34.6946 16.3598 39.8908L14.1071 39.891C13.918 39.891 13.7649 40.044 13.7649 40.2331C13.7649 40.3275 13.8033 40.4132 13.8651 40.475C13.927 40.5369 14.0126 40.5753 14.1071 40.5752L16.3593 40.5752C16.4416 45.7714 18.3961 50.943 22.225 54.9779L21.5153 56.0156C21.5146 56.0165 21.5143 56.0174 21.5139 56.0182C21.5098 56.0242 21.5069 56.0307 21.5032 56.037C21.4961 56.0494 21.489 56.0618 21.4836 56.0746C21.4803 56.0822 21.4781 56.0901 21.4755 56.0978C21.4712 56.1102 21.4673 56.1224 21.4644 56.135C21.4627 56.1433 21.4616 56.1512 21.4604 56.1595C21.4585 56.1721 21.4572 56.1845 21.4567 56.1971C21.4565 56.2056 21.4566 56.214 21.4569 56.2224C21.4575 56.2347 21.4586 56.247 21.4605 56.2591C21.4618 56.2677 21.4632 56.2762 21.465 56.2846C21.4678 56.2967 21.4715 56.3084 21.4757 56.3203C21.4785 56.3283 21.4811 56.3363 21.4843 56.3444C21.4898 56.357 21.4965 56.3689 21.5036 56.3807C21.5073 56.3872 21.5106 56.3938 21.5146 56.4C21.5266 56.4179 21.5402 56.435 21.5558 56.4506C21.5715 56.4663 21.5885 56.4799 21.6062 56.4917C21.6126 56.4958 21.6192 56.4992 21.6257 56.5027C21.6374 56.5098 21.6495 56.5163 21.6619 56.522C21.6698 56.5254 21.678 56.528 21.6862 56.5308C21.6979 56.5348 21.7097 56.5384 21.7216 56.5413C21.73 56.5432 21.7387 56.5446 21.7473 56.5459C21.7595 56.5478 21.7717 56.5489 21.7838 56.5494C21.7925 56.5499 21.8009 56.5497 21.8094 56.5497C21.8218 56.5492 21.8343 56.548 21.8467 56.5461C21.855 56.5447 21.8632 56.5438 21.8716 56.542C21.8841 56.5392 21.8959 56.5352 21.908 56.531C21.916 56.5284 21.9242 56.526 21.932 56.5229C21.9442 56.5177 21.9561 56.5107 21.9677 56.5039C21.9746 56.5001 21.982 56.4967 21.9886 56.4924C21.9892 56.4918 21.9902 56.4916 21.9909 56.4911L23.0285 55.7814C27.0632 59.6106 32.2351 61.5649 37.4311 61.647L37.4311 63.8993C37.4312 63.9938 37.4695 64.0794 37.5313 64.1412C37.5933 64.2032 37.6788 64.2414 37.7733 64.2414C37.9623 64.2414 38.1154 64.0883 38.1154 63.8993L38.1155 61.6471C43.3117 61.5648 48.4832 59.6105 52.518 55.7817L53.5556 56.4915C53.6918 56.5842 53.8744 56.5672 53.9907 56.4509C54.1073 56.3346 54.1246 56.1519 54.0317 56.0159ZM25.4229 54.1443L35.7317 47.0947L37.4371 56.1783C37.4503 56.2483 37.4841 56.3095 37.5315 56.3569C37.5938 56.4192 37.6799 56.4572 37.7735 56.4571C37.9382 56.4571 38.0794 56.34 38.1096 56.1782L39.8152 47.0946L50.1237 54.1444C43.1007 60.3876 32.4463 60.3876 25.4229 54.1443ZM23.8621 27.8827L30.912 38.1914L21.8283 39.8969C21.6666 39.9272 21.5493 40.0684 21.5494 40.233C21.5495 40.3976 21.6666 40.5389 21.8284 40.5692L30.9119 42.2748L23.8622 52.5834C17.619 45.5603 17.619 34.9059 23.8621 27.8827ZM50.1237 26.3223L39.815 33.372L38.1095 24.2884C38.0791 24.1267 37.9378 24.0094 37.7733 24.0094C37.6086 24.0094 37.4674 24.1266 37.437 24.2884L35.7318 33.372L25.4227 26.322C32.446 20.0788 43.1003 20.0789 50.1237 26.3223ZM51.6846 52.5839L44.6348 42.2752L53.7183 40.5698C53.88 40.5394 53.9973 40.3981 53.9973 40.2336C53.9973 40.069 53.8801 39.9275 53.7184 39.8974L44.6348 38.1919L51.6843 27.8829C57.9277 34.9063 57.9278 45.5606 51.6846 52.5839ZM51.1669 53.1428L38.5994 40.5754L42.6433 40.5753L51.2085 53.0999C51.1948 53.1145 51.1807 53.1286 51.1669 53.1428ZM43.2385 40.2334L44.2128 38.8088L51.8007 40.2335L44.2126 41.658L43.2385 40.2334ZM42.6433 39.8911L38.5994 39.8911L51.1667 27.3238C51.1805 27.3381 51.1947 27.3523 51.2083 27.3666L42.6433 39.8911ZM50.6828 26.8399L38.1155 39.4072L38.1154 35.3632L50.64 26.7983C50.6544 26.812 50.6684 26.8262 50.6828 26.8399ZM36.3486 33.794L37.7732 26.2059L39.1979 33.7941L37.7733 34.7683L36.3486 33.794ZM37.4312 35.3632L37.4312 39.4072L24.8637 26.8397C24.8779 26.8259 24.8921 26.8117 24.9064 26.798L37.4312 35.3632ZM24.3798 27.3236L36.9473 39.8911L32.9034 39.891L24.3382 27.3663C24.3518 27.352 24.3661 27.3379 24.3798 27.3236ZM32.3083 40.2332L31.334 41.6579L23.7459 40.2331L31.3339 38.8085L32.3083 40.2332ZM32.9033 40.5753L36.9473 40.5754L24.3801 53.1426C24.3664 53.1282 24.3521 53.1143 24.3384 53.0999L32.9033 40.5753ZM24.864 53.6265L37.4312 41.0593L37.4313 45.0997C37.4313 45.101 37.4316 45.102 37.4314 45.103L24.9066 53.6683C24.8924 53.6546 24.8783 53.6403 24.864 53.6265ZM39.198 46.6726L37.7735 54.2607L36.3488 46.6727L37.7735 45.6984L39.198 46.6726ZM38.1154 45.103C38.1153 45.1019 38.1157 45.1007 38.1155 45.0997L38.1155 41.0593L50.683 53.6267C50.6687 53.6405 50.6545 53.6547 50.6401 53.6683L38.1154 45.103ZM52.9258 54.3988L52.0829 53.1662C55.3141 49.5955 56.9686 45.0971 57.0481 40.5757L58.5034 40.5756C58.4221 45.556 56.5629 50.5117 52.9258 54.3988ZM58.5034 39.8913L57.048 39.8913C56.9686 35.37 55.3139 30.8715 52.0826 27.3005L52.9254 26.068C56.5627 29.9551 58.4219 34.9108 58.5034 39.8913ZM51.9387 25.0811L50.7062 25.9239C47.1352 22.6926 42.6367 21.0381 38.1154 20.9586L38.1153 19.5032C43.0957 19.5846 48.0515 21.4439 51.9387 25.0811ZM37.431 19.5032L37.431 20.9585C32.9097 21.0379 28.4112 22.6924 24.8404 25.9235L23.6078 25.0807C27.4949 21.4437 32.4506 19.5845 37.431 19.5032ZM22.6209 26.0676L23.4638 27.3001C20.2326 30.871 18.5782 35.3695 18.4987 39.8908L17.0433 39.8909C17.1246 34.9106 18.9838 29.9548 22.6209 26.0676ZM17.0432 40.5752L18.4986 40.5753C18.5782 45.0965 20.2327 49.5952 23.464 53.166L22.6212 54.3985C18.9841 50.5114 17.1248 45.5556 17.0432 40.5752ZM23.608 55.3853L24.8405 54.5425C28.4113 57.7738 32.9098 59.4281 37.4312 59.5079L37.4312 60.9632C32.4509 60.8818 27.4951 59.0225 23.608 55.3853ZM38.1157 60.9633L38.1158 59.508C42.6371 59.4285 47.1356 57.774 50.7064 54.5427L51.939 55.3857C48.0518 59.0228 43.096 60.882 38.1157 60.9633Z" fill="black"/>
        <path d="M36.485 0V5.83206L35.715 5.83206V0.671669L32.6352 0.671669V5.83206H31.8652V0L36.485 0Z" fill="black"/>
        <path d="M42.3964 0V5.83206H41.6264V3.10442H38.5465V5.83206H37.7766V0L38.5465 0V2.43275H41.6264V0L42.3964 0Z" fill="black"/>
        <path d="M76.1239 40.489C76.0583 41.2262 75.8017 41.8023 75.3539 42.2173C74.9116 42.6268 74.3273 42.8316 73.601 42.8316C72.771 42.8316 72.113 42.5586 71.627 42.0125C71.141 41.461 70.8979 40.7183 70.8979 39.7845C70.8979 38.9108 71.141 38.1845 71.627 37.6057C72.1184 37.0214 72.7956 36.7292 73.6583 36.7292C74.2754 36.7292 74.8188 36.8958 75.2884 37.2289C75.758 37.562 76.0201 38.0234 76.0747 38.6132H75.3048C75.2174 38.2309 75.0263 37.9333 74.7314 37.7204C74.4365 37.5019 74.0734 37.3927 73.642 37.3927C72.9921 37.3927 72.5007 37.6221 72.1676 38.0808C71.8399 38.5395 71.6761 39.1047 71.6761 39.7763C71.6761 40.519 71.8508 41.1033 72.2003 41.5292C72.5498 41.9552 73.0276 42.1681 73.6338 42.1681C74.1307 42.1681 74.5266 42.0262 74.8215 41.7422C75.1164 41.4528 75.2938 41.035 75.3539 40.489H76.1239Z" fill="black"/>
        <path d="M36.485 73.718V79.5501H35.715V74.3897H32.6352V79.5501H31.8652V73.718H36.485Z" fill="black"/>
        <path d="M42.9124 80.9999H42.167V79.5501H37.9486V80.9999H37.2032V78.8784H37.7766C38.0005 78.4798 38.1834 77.9091 38.3254 77.1665C38.4674 76.4183 38.5384 75.6457 38.5384 74.8484V73.718H42.2653V78.8784H42.9124V80.9999ZM41.4953 78.8784V74.3897H39.2919V75.1842C39.2919 75.8887 39.2264 76.5876 39.0953 77.2811C38.9697 77.9692 38.8141 78.5016 38.6285 78.8784H41.4953Z" fill="black"/>
        <path d="M4.68531 40.9878C4.68531 41.1789 4.64162 41.3782 4.55425 41.5857C4.46688 41.7878 4.33855 41.9844 4.16927 42.1755C3.99998 42.3666 3.76244 42.5222 3.45664 42.6424C3.15084 42.7625 2.80408 42.8226 2.41637 42.8226C1.68463 42.8226 1.09761 42.6506 0.655287 42.3065C0.218429 41.9571 0 41.4437 0 40.7666H0.745389C0.761772 41.2635 0.928324 41.6267 1.24505 41.856C1.56177 42.0799 1.97405 42.1919 2.4819 42.1919C2.89146 42.1919 3.23275 42.0799 3.50579 41.856C3.77882 41.6321 3.91534 41.3373 3.91534 40.9714C3.91534 40.7693 3.87712 40.5973 3.80067 40.4554C3.72422 40.3134 3.61227 40.2069 3.46483 40.1359C3.31739 40.0649 3.16176 40.0158 2.99794 39.9885C2.83958 39.9612 2.65391 39.9475 2.44095 39.9475C2.25528 39.9475 2.08054 39.953 1.91672 39.9639L1.91672 39.325C2.00409 39.3359 2.17883 39.3414 2.44095 39.3414C3.28736 39.3414 3.71057 38.9919 3.71057 38.2929C3.71057 37.6704 3.29282 37.3591 2.45733 37.3591C1.57269 37.3591 1.08942 37.755 1.0075 38.5468H0.262115C0.283958 37.9461 0.496926 37.4929 0.90102 37.1871C1.30511 36.8758 1.83207 36.7202 2.4819 36.7202C3.07712 36.7202 3.55766 36.8513 3.92353 37.1134C4.29486 37.3755 4.48053 37.7687 4.48053 38.2929C4.48053 38.5878 4.38497 38.8554 4.19384 39.0956C4.00271 39.3304 3.77609 39.4861 3.51398 39.5625V39.5871C3.88531 39.6581 4.172 39.8246 4.37404 40.0868C4.58155 40.3489 4.68531 40.6492 4.68531 40.9878Z" fill="black"/>
        </svg>
      .floor-plan-block
        .flat-wrapper-subtitle Секції
        include ../../assets/images/choose-section-and-filter/genplan.svg
        .flat-wrapper-subtitle План 2-7 поверхів
        include ../../assets/images/floor-plan.svg
    .page-title Схожі планування
    .cards-wrapper.similar-flats
      - var n = 0;
        while n < 4
          a(href='flat').flat-card
            +img('test-flat.jpg').flat-card__img 
            .flat-card__title Тип 1А
            table.flat-card__info-wrap(data-some=n++)
                each val in testInfo
                  tr.flat-card__info-wrap-item
                      td #{val.name}
                      td #{val.val}
            .flat-card__link.underlined-link-wrap 
              .underlined-link переглянути
              +svg('build-arrow')

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
