
extends ../layout/main
block variable
  -
    var title_page = 'home'
    var id_page = 'flat-page'
    var class_page = 'home'
    var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
    var advantages = [
      ['./assets/images/home/home-advantage-01.jpg', 'Ландшафтний парк', 'Індивідуальний ландшафтний проєкт з зонами відпочинку, альтанками, дитячим майданчиком.',],
      ['./assets/images/home/home-advantage-02.jpg', 'Закрита територія', 'Максимум приватності для створення свого ідеального простору з цілодобовою охороною.',],
      ['./assets/images/home/home-advantage-03.jpg', 'Власний підземний паркінг', 'Станція підзарядки електромобілів та ліфт до усіх поверхів клубного будинку.',],
      ['./assets/images/home/home-advantage-04.jpg', 'Просторне лобі', 'Преміальный конс\'єрж-сервис, який вирішить всі ваші запитання',],
    ];
    var block4Points = [
      ['Контрактова площа', '900 м',],
      ['Андріївський узвіз', '1 600 м',],
      ['Набережна Дніпра', '600 м',],
    ];
    var flatBlocksData = [
      ['home-flat-photo-01.jpg','1-кімнатні','20','55.5', '20000'],
      ['home-flat-photo-02.jpg','2-кімнатні','30','46.7', '30000'],
      ['home-flat-photo-03.jpg','3-кімнатні','40','127.5', '40000'],
      ['home-flat-photo-04.jpg','4-кімнатні','50','202.4', '50000'],
      ['home-flat-photo-05.jpg','5-кімнатні','60','99.4', '60000'],
    ];
    var characteristics = [
      ['1','Будинок'],
      ['9','Поверхів'],
      ['4','Квартир на поверсі'],
      ['200','Квартир'],
    ]

block meta
  title= 'Главная'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/home.js')
  script(defer src='./assets/scripts/map.js')
block content
  //- include ../includes/breadcrumbs.pug
  section.home-section-0(style="background-image: url(./assets/images/home/home-screen-bg.jpg)")
    .lang-block
      a(href="#").active UK 
      a(href="#") RU 
      a(href="#") EN 
    .home-section-0__text-block
      .home-section-0__text IV квартал 2022 г.
      .home-section-0__text Апартаменти від 2.56 млн ₴
      .home-section-0__title Ваша приватна резиденція у центрі Подолу
      +btn('Обрати квартиру', 'gold')
      +btn('Записатися на перегляд', 'grey')(data-call-popup-form class="button-std--invert")
    <svg class="scroll-mouse" width="21" height="32" viewBox="0 0 21 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="desktop-show" d="M20.5 10.5V21.5C20.5 27.0228 16.0228 31.5 10.5 31.5C4.97715 31.5 0.5 27.0228 0.5 21.5V10.5C0.5 4.97715 4.97715 0.5 10.5 0.5C16.0228 0.5 20.5 4.97715 20.5 10.5Z" stroke="white"/>
      <circle class="desktop-show" cx="10.5" cy="7.8999" r="1.5" fill="white"/>
      <path class="mobile-show" d="M14.7862 20.854C14.5021 20.5648 14.0425 20.5659 13.7597 20.8564L11.2258 23.4601V7.74219C11.2258 7.33228 10.9009 7 10.5 7C10.0991 7 9.77419 7.33228 9.77419 7.74219V23.4602L7.24026 20.8564C6.95748 20.5659 6.49794 20.5648 6.21382 20.8539C5.92967 21.1431 5.92861 21.613 6.21135 21.9036L9.98555 25.7816C9.98577 25.7819 9.98602 25.7821 9.98624 25.7823C10.269 26.0721 10.73 26.073 11.0138 25.7823C11.014 25.7821 11.0142 25.7819 11.0145 25.7817L14.7886 21.9036C15.0713 21.6131 15.0704 21.1432 14.7862 20.854Z" fill="white"/>
      </svg>

  section.home-section-1
    <svg data-slide-in-anim width="28" height="33" viewBox="0 0 28 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path   d="M7.79007 29.5358L7.7002 29.6348L9.67722 33L9.76709 32.9011C12.5529 30.8225 16.1475 30.8225 18.9333 32.9011L19.0232 33L21.0002 29.6348L20.9103 29.5358C16.8664 26.6655 11.7441 26.6655 7.79007 29.5358Z" fill="#EFC47F"/>
      <path  d="M12.4039 0.000244141L0 33H4.83387C5.83712 30.3372 14.0456 7.51315 14.0456 7.51315L23.2573 33H28L15.5961 0.000244141H12.4039Z" fill="#EFC47F"/>
      </svg>
    .text(data-slide-in-anim) LA MANCHE поєднує у собі риси модерну Англії та Франції кінця ХІХ — початку ХХ сторіч та сучасні технології містобудування, що гармонічно поєднується з архітектурою старого Подолу!
  section.home-section-2
    .home-section-2__text
      .subtitle-with-decor Архітектура LA MANCHE
      p.text LA MANCHE Perfect Residence — престижний будинок клубного типу на Подолі. Він має 9 поверхів, індивідуальні тераси на даху, комерційні приміщення на перших поверхах та підземний паркінг. 
      +a('Дізнатися більше', 'gold', 'about.html')
    .home-section-2__img
      +img('home/screen-2-img.png')(data-clip-path-animation)
  section.home-section-3
    .home-section-3__top
      .subtitle-with-decor Переваги
      //- .subtitle Lorem, ipsum.
    .home-section-3__cards
      each val in advantages
        .card-with-text-on-bg-wrap(data-background-lazy data-src=val[0] )
          .card-with-text-on-bg
            .subtitle-with-decor.white.small(data-slide-in-anim)  #{val[1]}
            p(data-slide-in-anim) #{val[2]}
  section.home-section-4(data-background-lazy data-src="./assets/images/home/poster.jpg" style="" data-live-sections)
    .video-wrapper 
      video(poster="./assets/images/home/poster.jpg" loop="true" muted)
        source(src="static/lamanche.mp4" type="video/mp4")
    .subtitle-with-decor.white.home-section-4__title Преміальна локація в історичному центрі міста
    .digit-block-wrap
      each val in block4Points
        .digit-block 
          .digit-block__value #{val[1]}
          .digit-block__text #{val[0]}
  section.home-section-5
    .subtitle-with-decor Квартири LA MANCHE
    each val in flatBlocksData
      .home-flat-card
        .home-flat-card__outer 
          +svg('ajax-logo')
          .home-flat-card__title #{val[1]}
          .home-flat-card__data
            .home-flat-card__data-item
              span Квартир:
              span #{val[2]}
            .home-flat-card__data-item
              span Площа:
              span від #{val[3]} м<sub>2</sub>
        .home-flat-card__inner(data-background-lazy data-src="./assets/images/home/"+val[0] style="")
          .home-flat-card__inner-data
            span від
            span.bold(data-to-animate-number=val[4]) #{val[4]} 
            span /м м<sub>2</sub>
    .home-flat-card.home-section-5__link
      +svg('key-with-decor')
      p Обирай квартиру на будь-який смак у клубному будинку La Manche 
      +a('Обрати квартиру', 'gold', 'choose-appartment.html')
  section.home-section-6
    .home-section-6__text
      .subtitle-with-decor.white Характеристики
      p.color-white Дізнайся більше про особливості та характеристики клубного будинку La Manche
      .characteristics-wrap
        each val in characteristics 
          .single-characteristic
            .single-characteristic__value(data-to-animate-number=val[0]) #{val[0]}
            .single-characteristic__text #{val[1]}
      +a('Перейти до розділу', 'gold', 'characteristics.html')(class="button-std--invert")
    .home-section-6__img
      <svg width="490" height="590" viewBox="0 0 490 590" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
        <path d="M164.598 588.324C214.02 553.125 277.79 553.125 327.212 588.324L328.807 590L363.88 533.012L362.286 531.335C327.212 506.193 287.356 494.46 245.905 494.46C206.049 494.46 166.192 506.193 129.524 531.335L127.93 533.012L163.004 590L164.598 588.324Z" fill="#6E7A81"/>
        <path d="M217.211 0L0.392578 581.617H84.8879C102.425 534.686 245.908 132.414 245.908 132.414L406.928 581.617H489.829L273.01 0H217.211Z" fill="#6E7A81"/>
        </svg>
      +img('home/characteristic-img.jpg')
  section.home-section-7
    .home-slider(data-slider)
      .slider-nav 
        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="35" cy="35" r="35" transform="rotate(-180 35 35)" fill="#383E41"/>
          <path d="M47.0664 34.5L22.1383 34.5M22.1383 34.5L29.6168 27M22.1383 34.5L29.6168 42" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
          </svg>
        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="35" cy="35" r="35" fill="#383E41"/>
          <path d="M22.9336 35.5L47.8617 35.5M47.8617 35.5L40.3832 43M47.8617 35.5L40.3832 28" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
          </svg>
      .slider-numbers
        .current 01
        .all 08
      .slider-wrapper
        img.slide(data-src="./assets/images/home/slider/home-slide-01.jpg")
        img.slide(data-src="./assets/images/home/slider/home-slide-02.jpg")
        img.slide(data-src="./assets/images/home/slider/home-slide-01.jpg")
        img.slide(data-src="./assets/images/home/slider/home-slide-02.jpg")
        img.slide(data-src="./assets/images/home/slider/home-slide-01.jpg")
        img.slide(data-src="./assets/images/home/slider/home-slide-02.jpg")
        img.slide(data-src="./assets/images/home/slider/home-slide-01.jpg")
        img.slide(data-src="./assets/images/home/slider/home-slide-02.jpg")
        img.slide(data-src="./assets/images/home/slider/home-slide-01.jpg")
        img.slide(data-src="./assets/images/home/slider/home-slide-02.jpg")
        img.slide(data-src="./assets/images/home/slider/home-slide-01.jpg")
        img.slide(data-src="./assets/images/home/slider/home-slide-02.jpg")
        img.slide(data-src="./assets/images/home/slider/home-slide-01.jpg")
        img.slide(data-src="./assets/images/home/slider/home-slide-02.jpg")
        img.slide(data-src="./assets/images/home/slider/home-slide-01.jpg")
  section.home-section-8
    .subtitle-with-decor Контакти
    .home-section-8__text.home-contact-block(style="background-image: url(./assets/images/home/contacts-bg.svg)")
      .subtitle Адреса об’єкту:
      a(target='_blank' href="https://goo.gl/maps/sgHxqVUGaunDDJPU6").home-contact-block__group
        .home-contact-block__icon
          +svg('marker')
        .home-contact-block__group-text м. Київ, вул. Щекавицька, 46
      .subtitle.double-margin Відділ продажу:
      a(href="tel:0442994966").home-contact-block__group
        .home-contact-block__icon
          +svg('tel')
        .home-contact-block__group-text.subtitle +38 (044) 299 49 66
      .home-contact-block__group
        .home-contact-block__icon
          +svg('clock')
        .home-contact-block__group-text
          .text Пн-Пт: 10:00 - 19:00 
          .text Сб: 11:00 - 16:00
          .text Нд: по запису
      a(href="https://goo.gl/maps/VjrTXj3KXCQ5UWVu6" target='_blank').home-contact-block__group
        .home-contact-block__icon
          +svg('marker')
        .home-contact-block__group-text
          .text м. Київ,
          .text вул. Набережно-Хрещатицька, 49А
      +a('Показати на карті', 'gold', 'google.com')(target="_blank" class="double-margin")
    .home-section-8__map.map#map
    





block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
