
extends ../layout/main
block variable
  -
    var title_page = 'home'
    var id_page = 'flat-page'
    var class_page = 'home'
    var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
    var advantages = [
      ['background-image: url(./assets/images/home/home-advantage-01.jpg)', 'Ландшафтний парк', 'Індивідуальний ландшафтний проєкт з зонами відпочинку, альтанками, дитячим майданчиком.',],
      ['background-image: url(./assets/images/home/home-advantage-02.jpg)', 'Закрита територія', 'Максимум приватності для створення свого ідеального простору з цілодобовою охороною.',],
      ['background-image: url(./assets/images/home/home-advantage-03.jpg)', 'Власний підземний паркінг', 'Станція підзарядки електромобілів та ліфт до усіх поверхів клубного будинку.',],
      ['background-image: url(./assets/images/home/home-advantage-04.jpg)', 'Просторне лобі', 'Преміальный конс\'єрж-сервис, який вирішить всі ваші запитання',],
    ];
    var block4Points = [
      ['Контрактова площа', '900 м',],
      ['Андріївський узвіз', '1 600 м',],
      ['Набережна Дніпра', '600 м',],
    ];
    var flatBlocksData = [
      ['home-flat-photo-01.jpg',],
      ['home-flat-photo-02.jpg',],
      ['home-flat-photo-03.jpg',],
      ['home-flat-photo-04.jpg',],
      ['home-flat-photo-05.jpg',],
    ]

block meta
  title= 'Главная'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/home.js')
block content
  //- include ../includes/breadcrumbs.pug
  section.home-section-0(style="background-image: url(./assets/images/home/home-screen-bg.jpg)")
    .home-section-0__text-block
      .home-section-0__text IV квартал 2022 г.
      .home-section-0__text Апартаменти від 2.56 млн ₴
      .home-section-0__title Ваша приватна резиденція у центрі Подолу
      +btn('Обрати квартиру', 'gold')
      +btn('Записатися на перегляд', 'grey')
    <svg class="scroll-mouse" width="21" height="32" viewBox="0 0 21 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.5 10.5C0.5 4.97715 4.97715 0.5 10.5 0.5C16.0228 0.5 20.5 4.97715 20.5 10.5V21.5C20.5 27.0228 16.0228 31.5 10.5 31.5C4.97715 31.5 0.5 27.0228 0.5 21.5V10.5Z" stroke="white"/>
      <circle cx="10.5" cy="7.8999" r="1.5" fill="white"/>
    </svg>
  section.home-section-1
    <svg width="28" height="33" viewBox="0 0 28 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.79007 29.5358L7.7002 29.6348L9.67722 33L9.76709 32.9011C12.5529 30.8225 16.1475 30.8225 18.9333 32.9011L19.0232 33L21.0002 29.6348L20.9103 29.5358C16.8664 26.6655 11.7441 26.6655 7.79007 29.5358Z" fill="#EFC47F"/>
      <path d="M12.4039 0.000244141L0 33H4.83387C5.83712 30.3372 14.0456 7.51315 14.0456 7.51315L23.2573 33H28L15.5961 0.000244141H12.4039Z" fill="#EFC47F"/>
      </svg>
    .text LA MANCHE поєднує у собі риси модерну Англії та Франції кінця ХІХ — початку ХХ сторіч та сучасні технології містобудування, що гармонічно поєднується з архітектурою старого Подолу!
  section.home-section-2
    .home-section-2__text
      p.subtitle Lorem, ipsum.
      .subtitle-with-decor Архітектура LA MANCHE
      p.text LA MANCHE Perfect Residence — престижний будинок клубного типу на Подолі. Він має 9 поверхів, індивідуальні тераси на даху, комерційні приміщення на перших поверхах та підземний паркінг. 
      +btn('Дізнатися більше', 'gold')
    .home-section-2__img
      +img('home/screen-2-img.png')
  section.home-section-3
    .home-section-3__top
      .subtitle-with-decor Переваги
      //- .subtitle Lorem, ipsum.
    .home-section-3__cards
      each val in advantages
        .card-with-text-on-bg-wrap(style=val[0])
          .card-with-text-on-bg
            .subtitle-with-decor.white.small  #{val[1]}
            p #{val[2]}
      each val in advantages
        .card-with-text-on-bg-wrap(style=val[0])
          .card-with-text-on-bg
            .subtitle-with-decor.white.small  #{val[1]}
            p #{val[2]}
  section.home-section-4(style="background-image:url(./assets/images/home/screen-4-bg.jpg)")
    .subtitle-with-decor.white.home-section-4__title Преміальна локація в історичному центрі міста
    .digit-block-wrap
      each val in block4Points
        .digit-block 
          .digit-block__value #{val[1]}
          .digit-block__text #{val[0]}
  section.home-section-5
    .subtitle-with-decor Квартири LA MANCHE
    each val in flatBlocksData
      .home-flat-card
        .home-flat-card__outer 
          +svg('ajax-logo')
        .home-flat-card__inner(style="background-image: url(./assets/images/home/"+val[0]+");")




block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
